<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Email</title>
</head>
<body>
	<main class="d-flex justify-content-center">
		<div class="caja">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				<h2>Email Invalido!!!</h2>
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="p-4 bg-dark text-light"></div>
			<form action="/process" method="POST" class="p-4 bg-dark text-light">
				<div class="form-group">
					<label>Email:</label>
					<input type="text" name="email" id="name" class="form-control">
				</div>
				<div class="form-group">
					<input type="submit" value="Submit" class="btn btn-primary btn-outline-dark">
				</div>
			</form>
			
		</div>
	</main>
</body>
</html>